label {
  height: 50px;
  width: 200px;
}

label, input {
  width: 100%;
  background: lightblue;
}

.incomplete {
  color: red;
  background: white;
}

.done {
  color: yellowgreen;
  background: white;
  /* background: lightslategray; */
}